@import 'base';

.c-exam-row-complaint-element {
  overflow: hidden;
  // border-radius: 5px;
  // margin-bottom: 8px;
  cursor: default;
  transition: box-shadow 300ms, transform 300ms;
  border-bottom: solid $gray-lighter 1px;
  color: $gray-dark;

  &.can-checked {
    cursor: pointer;

    &:hover {
       box-shadow: rgba(#000000, .1) 0 1px 1px;
      transform: scale(1.01);
    }
  }
  &.is-checked {
    box-shadow: rgba(#000000, .1) 0 1px 1px;
    transform: scale(1.01);
  }
  &__original-grade {
    color: $gray;
    position: relative;
    margin-right: -30px;
  }
}