@import 'base';

.c-exam-row-complaint-table {
  // border-top: solid $gray-lighter 1px;
  overflow: hidden;
  position: relative;
  background-color: #f7f8fa;
  &__checkall {
    font-size: 14px;
    top: 35px;
    position: absolute;
    left: 47px;
  }

  &__footer {
    border-top: solid $gray-lighter 1px;
    position: relative;
  }

  &__prev {
    text-decoration: underline;
    position: absolute;
    right: 20px;
    margin-top: -5px;
    cursor: pointer;
    top: 50%;
    color: $gray;
  }
}