@import 'base';

.p-book-browse {
  transition: background-color 300ms;
  // footer
  &__footer {
    position: fixed;
    bottom: 0;
    z-index: 3;
    right: 0;
    width: 100%;
    background-color: $white-color;
    border-top: solid #b9c2cb 2px;
    transition: background-color 300ms, border-color 300ms;

    &.is-black {
      background-color: #3c3c3c;
      border-top-color: #545454;
    }
    &.is-caramel {
      background-color: #f8f2e3;
      border-top-color: #ded9cc;
    }

    &__current {
      position: relative;
      top: -10px;
      background-color: $white-color;
      border: solid #b9c2cb 1px;
      padding:5px 7px 2px;
      border-radius: 3px;
      transition: background-color 300ms, color 300ms, border-color 300ms;

      &.is-black {
        background-color: #a0a0a0;
        border-color: #a0a0a0;
        color: #3c3c3c;
      }
      &.is-caramel {
        background-color: #f8f2e3;
        border-color: #ded9cc;
      }

      @include media-breakpoint-down(sm) {
        right: 10px;
      }
    }

    &__pages {
      position: absolute;
      left: 10px;
      font-size: 13px;
      color: #344142;
      top: 10px;
      transition: color 300ms;
      &.is-black {
        color: #a0a0a0;
      }
    }
  }

    &.is-caramel {
      background-color: #f8f2e3;
    }
    &.is-black {
      background-color: #3c3c3c;
    }
}
