@import 'base';

.right-side {
  &__username {
    border: 0;
    border-bottom: solid $v2-border-color 1px;
    font-size: rem-calc(14px);
    padding: rem-calc(15px);
    width: 100%;

    &:active,
    &:hover,
    &:focus {
      bottom: 0;
      outline: 0;
    }
  }

  &__search {
    position: relative;
    // height: rem-calc(51px);

    .material-icons {
      top: rem-calc(12px);
      left: rem-calc(12px);
      position: absolute;
      cursor: pointer;
      transition: color 300ms;
      &:hover {
        color: $brand-success;
      }
    }
  }
}
