@import 'base' ;
.opinions
{
    margin-bottom: 30px;
    padding-top: 50px;
    &__items
    {
        padding-bottom: 100px;
    }
    &__title
    {
        font-size: 35px;
        margin-bottom: 70px;
        color: #50555a;
    }
    &__item
    {
        position: relative;
        width: 100%;
        height: 150px;
        cursor: pointer;
        background-color: #dcdcdc;
        @include media-breakpoint-down(sm)
        {
            margin-bottom: 130px;
        }
        &__play
        {
            position: absolute;
            z-index: 4;
            top: 50%;
            right: 50%;
            margin-top: -($icon-play-white-circle-height / 2);
            margin-right: -($icon-play-white-circle-width / 2);
            transition: transform 200ms;
        }
        &:hover &__play
        {
            transform: scale(1.2);
        }
        &__thumbnail
        {
            position: relative;
            overflow: hidden;
            border-radius: 5px;
            img
            {
                transform: scale(1.7);
            }
            &:after
            {
                position: absolute;
                z-index: 3;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
                content: ' ';
                background: linear-gradient(to top, rgba(#a3d6b8, .7) 0% , rgba(#ffefb3, .2) 100%);
            }
        }
        &__title
        {
            font-size: 15px;
            padding: $spacer-y * 2 0;
            color: #50555a;
        }
    }
}
