@import 'base';

.MarketSidebar {
	// top: 0;
	// position: sticky;
	
	&__item {
		background: transparent;
		border-width: 0;
		width: 100%;
		text-align: right;
		padding: 5px 14px 8px;
		font-size: 15px;
		color: #777d84;

		&.is-active , &:hover {
			background-color: $brand-success;
			color: #fff;
		}
	}
}