.c-notifications {
  &__dot {
    width: 7px;
    height: 7px;
    background-color: #000;
    display: inline-block;
    vertical-align: middle;

    &.is-blinking {
			animation-name: DotBlink;
      		animation-duration: 2s;
      		animation-iteration-count: infinite;
      		animation-timing-function: easein;
	}
  }
}


@keyframes DotBlink {
  0% {opacity: 1}
  50% {opacity: 0}
  100% {opacity:1}
}