@import 'base.scss';

.c-signup-second-form {
&__name-block {
	list-style-type: none;
	padding: 0;
	margin: 0;

	&__item {
		width: (100/5)* 1%;
		display: inline-block;
		float:right;
		padding-left:10px;

		&:last-child {
			padding-left: 0;
		}

		@include media-breakpoint-down(sm) {
				width: 100%;
				padding-left: 0;
		}
	}

	@include clearfix;
}
}