@import 'base';

.p-single-book {
  &__header {
    border-bottom: $library-border-color 1px solid;
    span {
      font-size: 16px;
      color: $library-primary;
    }

    &-cat {
        border-left: #eff0eb 1px solid;
    }
  }

  &__cover {
    min-width: 100%;
  }
  &__meta {
    color: #777d84;
  }

  &__desc {
    border-top: $library-border-color 1px solid;
  }


  &__download , &__browse, &__add, &__rent {
    background-color: $white-color;
  }

  &__download {
    border-color: $brand-warning;
    color: $brand-warning;

    &:hover {
      background-color: $brand-warning;
      color: $white-color;
    }
  }
  &__browse {
    border-color: $brand-success;
    color: $brand-success;

    &:hover {
      background-color: $brand-success;
      color: $white-color;
    }
  }
  &__add {
    border-color: $brand-brown;
    color: $brand-brown;

    &:hover {
      background-color: $brand-brown;
      color: $white-color;
    }
  }
  &__rent {
    border-color: $brand-purple;
    color: $brand-purple;

    &:hover, &:disabled {
      background-color: $brand-purple;
      border-color: $brand-purple;
      color: $white-color;
    }
  }
}