@import 'base.scss';

.Collapsible{
	padding: 15px 15px;
	border-bottom: 1px solid #b9c2cb;
	
	&__trigger{
		font-size:18px;
	    font-weight:600;
		&.is-open{
			&:before {
				content:url('../../../static/img/icons/np_minus.svg');
				display:inline-block;
				margin-left: 15px;
				margin-top: 7px;
				vertical-align: middle; 
			}
	    }
	    &.is-closed{
	    	&:before {
				content:url('../../../static/img/icons/np_plus.svg');
				display:inline-block;
				margin-left: 15px;
				margin-top: 7px;
				vertical-align: middle; 
			}
	    }
		&__content{
			font-size: 18px;
			font-weight: 500;
			&__vedio{
				margin-bottom:40px;
			}
		}
	}
}