@import 'base';

.p-research-activity-details {
  &__header {
    border-bottom: solid $gray-light 1px;
  }

  &__title {
    color: $gray-dark;
    font-size: 30px;
  }

  &__heading {
    font-size: 20px;
    font-weight: 700;
  }

  &__link {
    position: relative;
    display: block;
    transition: transform 300ms;

    &-primary {
      color: $gray-dark;
      font-size: 17px;
    }
    &-icon {
      position: absolute;
      left: 20px;
      top: 30px;
    }
    &-secondary {
      font-size: 14px;
      color: #777d84;
    }
    &:hover {
      color: $gray-dark;
      transform: scale(1.03);
    }
  }
}