@import 'base.scss';

.c-joyride-message {
  &__panel {
    position: relative;
    border-radius: $border-radius;
    background-color: #FFF;
    font-size: 17px;
    position: relative;
    color: #50555a;
    box-shadow: rgba(#000, .2) 0 1px 3px;
  }

  &__close {
    position: absolute;
    left: 20px;
    padding: 0;
    line-height: 1;
    margin: 0;
    background-color: transparent;
    border-width: 0;
    top: 50%;
    border-radius: 100%;
    margin-top: - $icon-times-small-height/2;
    cursor: pointer;
  }
}