@import 'base';

.p-my-library {
  &__hero {
    background-color: #eff0eb;
    @include background-retina('../../../static/img/coffee-cup.png', '../../../static/img/coffee-cup@2x.png', 328px, 185px);
    background-repeat: no-repeat;
    background-position: 50px 100px;
  }
}