@import "base.scss";

.c-reg-files-up {
&__pagination {
	list-style-type: none;

	&__item {
		@include media-breakpoint-up(sm) {
			border-left:solid $gray-light 1px;

			&:last-child {
				border-left-width: 0;
			}
		}
	}

	&__number {
		width: 25px;
		height: 24px;
		border:solid $gray-light 2px;
		border-radius: 100%;
		display: inline-block;
		font-size: 14px;
		color: $gray-light;
	}
}
}