@import 'base';

.p-orders-delay {
  &__title {
    font-weight: 700;
    position: relative;
  }

  &__subtitle {
    color: $gray-light;
    font-size: 17px;
    color: $gray;
    font-weight: 100;
    display: block;
  }

  &__goback {
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    right: 0;
    font-weight: 100;
    top: $spacer-y / 1.3;
    color: $gray-dark;
    text-decoration: underline;

    &:hover {
      font-weight: 700;
      color: $gray-dark;
    }
  }
}
