@import 'base';

.Thesis-Instruction {
	border-top: solid #550bbd 5px;

	&__header {
		border-bottom: dotted #dac9ff 1px;
		background: linear-gradient(to bottom, rgba(#550bbd, .1) 0%, #fff 100%);
	    &-title {
	    	color: #550bbd;
	    }

	    &-description {
	    	font-size: rem-calc(14px) !important;
	    }

	}
	&__item {
	    &-description {
	    	line-height: 2;
	    	font-size: rem-calc(14px) !important;
	    }

	}

	&__btn {
		font-size: 14px !important;
		padding: 10px 20px;

		i {
			display: inline-block;
			vertical-align: middle;
		}
	}
}