@import 'base';

.c-quran-exam-row {
  -webkit-perspective: 1000;
  transform-origin: center;

  &__panel {
    margin-bottom: $spacer-y;
    transition: transform 0.3s cubic-bezier(.25, .8, .25, 1);
    &:hover {
      box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0,0,0, .23);
      transform: translate3d(0, 0, 20px);
    }
    > div {
      border-left: solid $gray-lighter 1px;
      height: 100%;

      @include media-breakpoint-down(xs) {
        padding: rem-calc(10px) !important;
      }

      @include media-breakpoint-up(sm) {
        min-height: 143px;

      }
      position: relative;

      &:first-child {
        border-left-width: 0;
      }
    }
  }

&__meta {
  font-size: 15px;
  color: $gray;

  &__rules {
    cursor: pointer;
    padding-left: $spacer-x;

    &:hover {
      color: $brand-success;
    }
  }
}

  &__label {
    font-size: 15px;
    color: $gray;
  }

  &__grade {
    font-size: 25px;
    padding-top: 5px;
    margin-bottom: 0;
    font-weight: 700;
  }
}